.slider{
    position: relative;
    display: inline-block;
}

.slider-list{
    position: relative;
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 1px solid red;
}

.slider-item{
    position: absolute;
    width: 500px;
    height: 300px;
    background: lightblue;
    margin: 0;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 300px;
    font-size: 4em;
    display: none;
}
.pink{
    background-color: rgba(255,0,0, .1);
}
.green{
    background-color: rgba(0,255,0, .1);
}
.blue{
    background-color: rgba(0,0,255, .1);
}

.slider-item.active{
    display: block;
}

.slider-point-container{
    text-align: center;
    font-size: 9px;
}

.slider-point{
    color:#333;
    text-decoration: none;
}

.active.slider-point:before{
    content: "\f111";
}

.slider-point:before{
    content: "\f10c";
}

.previous {
    border: none;
    background: transparent;
    color: #FFF;
    font-size: 22px;
    position: absolute;
    top: 130px;
    left: 0;
    width: 250px;
    height: 150px;
    overflow:hidden;
    display: inline-block;
}

.previous:before {
    font-family: FontAwesome;
    content:"\f053";
    position: absolute;
    top: 11px;
    left: -30px;
    transition: all 600ms ease;
    background-color: transparent;
}

.slider:hover .previous:before {
    left: 10px;
}

.slider:hover .previous {
    border: transparent;
    background-color: transparent;
    background-image: linear-gradient(transparent, transparent);
}

.next {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 130px;
    right: 0;
    width: 250px;
    height: 150px;
    overflow:hidden;
    display: inline-block;
}

.next:before {
    font-family: FontAwesome;
    content:"\f054";
    position: absolute;
    top: 11px;
    right: -30px;
    transition: all 600ms ease;
    background-color: transparent;
}

.slider:hover .next:before {
    right: 10px;
}

.slider:hover .next {
    border: transparent;
    background-color: transparent;
    background-image: linear-gradient(transparent, transparent);
}